body{
    font-family: 'Fira Sans', sans-serif;
}

:root{
    --color-white: #ffff;
    --another-white: #fbf8f8;
    --color-black: #262626;
    --color-primary: #365194;
    --color-secondary: #AB8B21;
    --dark-primary-tint: #2B4178;
    --light-primary-tint: #4161B4;
    --light-secondary-tint: #DBB743;
    --light-blue: #C7D1EB;
    --light-grey: #B2A7A7;
}
nav{
    background-color: var(--light-blue);
    height: 80px;
}
nav .container-fluid .navbar-brand h3{
    color: var(--color-primary);
}
nav .container-fluid .navbar-brand span{
    border-bottom: 3px solid var(--color-secondary);
}


form{
    margin-left: 100px;
    margin-right: 100px;
}
form .form-control{
    margin-right: 5px;
}
/* .nav-link{
    color: var(--color-primary);
    margin-left: 10px;
}
.nav-link:hover{
    color: var(--color-secondary);
} */
.dropdown-menu{
    color: var(--color-black);
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: var(--color-white);
    width: 200%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
.dropdown-menu li a{
    color: black;
    padding: 12px 6px;
    text-decoration: none;
    display: block;
}
.dropdown-menu li a:hover{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
.log-btn a{
    text-decoration: none;
    color: var(--color-secondary);
}
.sign-btn a{
    text-decoration: none;
    color: var(--color-primary);
}
.log-btn{
    color: var(--color-secondary);
    border: 0.5px solid var(--color-secondary);
}
.log-btn:hover{
    color: #ffff;
    background-color:  var(--color-secondary);
}
.sign-btn{
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
.sign-btn:hover{
    color: var(--color-white);
    background-color: var(--color-primary);
}
.log-btn, .sign-btn{
    border-radius: 5px;
    background: transparent;
    transform: scale(1);
    transition: transform 0.4s;
}
.log-btn:hover, .sign-btn:hover{
    transform: scale(1.1);
}
.end-btns{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 991px) {
    .log-btn a, .sign-btn a{
        margin-bottom: 10px;
    }
}